.bienestar{
  display: flex;
}

.container_bienestar{
  flex: 80%;
  display: flex;
  flex-direction: column;
  padding: 3% 0;
  align-items: center;
  // padding: 3% 30% 3% 5%;
}
.bienestar_navbar{
  background: #F5F7F9;
  flex: 20%;
}
